<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planetsystems.tela">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAG" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission." />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".staff.administration.editStaff.EditStaffList"></activity>
        <activity android:name=".staff.administration.AdminSideActivity" />
        <activity android:name=".activities.test.TestActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity android:name=".activities.SchoolConfirmation" />
        <activity android:name=".staff.regularStaff.serviceRequests.RequestTimeOff" />
        <activity android:name=".staff.regularStaff.serviceRequests.MakeRequests" />
        <activity android:name=".staff.regularStaff.TeacherHomeActivity" />
        <activity
            android:name=".activities.clockInWithEmployeeNumber.ClockInWithEmployeeNumberActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.fingerprint.FingerPrintActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activities.clockInAndOutActivity.ClockInAndOutActivity" />
        <activity
            android:name=".activities.enrollActivity.EnrollmentActivity"
            android:parentActivityName=".activities.clockInAndOutActivity.ClockInAndOutActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>